#container{
  padding: 20px;
  #header{
    display: flex;gap: 40px;align-items: center;
padding: 30px 80px;
position: relative;

width: 50%;
#backButton{
  position: absolute;
  top: 50px;
  left: 10px;
  cursor: pointer;

}

#uploadButton{
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: #c2e7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  cursor: pointer;

  input{
    display: none;
  }
}
    #headerContent{
flex-grow: 1;

#name{
font-size: 28px;
margin-bottom: 10px;
}




#labelSection{
display: flex;
gap: 10px;
  .label{
border: 1px solid rgb(218, 220, 224);
border-radius: 20px;
padding: 7px 15px;
font-size: 15px;
cursor: pointer;

  }

  .labelsPickerButton, .label{
    border: 1px solid rgb(218, 220, 224);

    &:hover{
      background-color: rgb(243, 243, 243);
    }

  }
.labelsPickerButton{
  border-radius: 50%;
width: 30px;
height: 30px;
display: flex;
align-items: center;
justify-content: center;

i{
  color: rgb(25, 103, 210);
}


}

}
    }

    #headerActoins{
      min-width: 100px;
      align-self: flex-end;
      display: flex;
      gap: 10px ;

      button[disabled]{
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }
#contentContainer{
  border-top: 1px solid #ccc;
  padding-top: 50px;

#editorSectoin{
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .row{
    display: flex;
    gap: 30px;
    align-items: center;
    .iconSection{
      min-width: 100px;
      text-align: right;
      i{
        color: #a0a0a0;
      }

    }

    .inputSection{
flex-grow: 1;

    }
  }
}
}

}
