#container{
  display: flex;
  flex-direction: column;


  app-sidebar{
    width: 250px;
    position: absolute;

    transform: translateX(-100%);


  }
  #content{
    margin-left: 0px;
    &.sidebarOpen{
      margin-left: 250px;
    }
  }

  app-sidebar, #content{
    transition: all 0.25s cubic-bezier(0.4,0,0.2,1);
  }

  &.sidebarOpened{
    app-sidebar{
      transform: translateX(0%);
    }

  }

  #content{


      margin-left: 250px;

  }
}

// #contentContainer{
//   display: flex;
// }

