


<div id="container"  [ngClass]="{sidebarOpened:sidebarOpen}">
  <app-header (toggleMenuClicked)="toggleSidebar()"></app-header>

  <div id="contentContainer">  <app-sidebar> </app-sidebar>
  <div id="content">
    <router-outlet></router-outlet>
  </div>
  </div>

</div>
<app-dialog
title="Add Label"  (onClose)="generalService.labelEditorDialogVisible=false" *ngIf="generalService.labelEditorDialogVisible">

  <input [(ngModel)]="newLabelInputValue" type="text" placeholder="Title">

<div actions>
  <button (click)="createLabel()"  class="primaryButton" >Save </button>
</div>
</app-dialog>

