<div class="container">
  <div id="createContactButton" routerLink="/contact/new">
    <img width="40px" src="/assets/images/plusicon.png" alt="">Create Contact
  </div>

  <div class="menuContainer">
    <div class="menuItems selected">
      <i class="fa-regular fa-user"></i>
      Contacts
    </div>
  </div>
<h4>Labels  <i class="fa-regular fa-plus"></i></h4>
  <div class="menuContainer">
    <div class="menuItems">
      <i class="fa-solid fa-tag"></i>
    <div class="content">
      Test
      <div class="actions">
        <i class="fa-solid  fa-pen actonButton"></i>
        <i class="fa-solid  fa-trash actonButton"></i>
      </div>
      <div class="counter">3</div>
    </div>
    </div>
  </div>
</div>
