/* You can add global styles to this file, and also import other style files */
$primary-color:rgb(25,103,210);

*{
  font-family: Arial, Helvetica, sans-serif;
  color: #202124;
}

body{
  margin: 0px;
}
.primaryButton{
  color: rgb(25,103,210);
  background-color: none;
  border: 0px;
  outline: none;
  cursor: pointer;
  background: none;
padding: 8px 20px;
border-radius: 4px;
  &:hover{
    background-color: rgba(25,103,210 ,0.1);;
  }

}


.primaryButton2{
  background-color: rgb(25,103,210);
  border: 0px;
  outline: none;
  cursor: pointer;
padding: 8px 20px;
border-radius: 4px;
color: #fff;
  &:hover{
    background-color: rgba(25,103,210 ,0.9);;
  }
}
.defaultButton{
  background-color: #fff;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
padding: 8px 20px;
border-radius: 4px;
color: #333;
  &:hover{
 background-color: #f6f6f6;
  }
}


input{
  width: 100%;
  padding: 10px 13px;


  font-size: 15px;
  border: 1px solid #adadad;
  border-radius: 5px;
  box-sizing: border-box;
}
